<html>
    <body>
        <p>{{message}}</p>

        <table style="font-size: 0.9em; font-family: sans-serif; min-width: 400px; border: 1px solid black;">
        {% for table_row in rows -%}
            {% if table_row.type == "heading_row" -%}
                    <tr style="border-bottom: 1px solid #000"><td colspan=2 style="text-align: center; margin-left:41.45pt;background-color: #009879;color: white; width: 510.35pt; height: 21.3pt">{{table_row.value}}</td></tr>
            {% elif table_row.type == "image_row" -%}
                     <tr style="border-bottom: 1px solid #000"><td colspan=2 style="text-align: center; margin-left:41.45pt; background-color: rgb(191,191,191); width: 510.35pt; height: 21.3pt"><img src="cid:{{table_row.cid}}"/></td></tr>
            {% elif table_row.type == "kv_row" -%}
                     <tr style="border-bottom: 1px solid #000"><td style="width: 30%;"><p style="padding-left: 2px">{{table_row.key}}</p></td><td style="white-space: pre-wrap; padding-left: 2px;">{{table_row.value}}</td></tr>
            {% elif table_row.type == "text_row" -%}
                     <tr style="border-bottom: 1px solid #000"><td colspan=2 style="white-space: pre-wrap;">{{table_row.value}}</td></tr>
            {% elif table_row.type == "lr_row" -%}
                     <tr style="border-bottom: 1px solid #000"><td style="white-space: pre-wrap;"><p style="padding-left: 2px; width:100%;">{{table_row.left}}</p></td><td style="text-align: right; white-space: pre-wrap; padding-right: 2px;"><p style="padding-left: 2px">{{table_row.right}}</p></td></tr>
            {% endif -%}
        {%- endfor -%}
        </table>
    </body>
</html>
